@media only screen and (min-width: 32.5em) {
    h1{
        font-size: 3em;
      }  

    h2 {
        font-size: 2em;
    }   
    
    header, footer {
        border-radius: 10px;
    }

    .site-logo {
        max-width: 90px;
        flex: right;
      }
}
:root {
    --main-color: #99E0CB;
    --secondary-color: #8d5e5e;
    --accent-color: #90ee90;
    --default-light: #ffffff;
    --default-dark: #2f2f2f;

    --header-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Comfortaa', sans-serif;
}

body {
    grid-template-columns: auto 90% auto;
}


#typo-wrapper {
    grid-template-columns: 1fr 1fr;
}
