/* Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Pacifico&display=swap');

/* Set the background color of the HTML element to white */
html {
    background-color: white;
}

/* Center the content in the body and limit its maximum width to 900px */
body {
    max-width: 900px;
    margin: 0 auto;
}

/* Style the header section */
header {
    text-align: center;
    background-color: #f1f1f1;
    color: rgb(67, 58, 58);
    border-radius: 0 0 10px 10px;
    color: white;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
}

/* Style the h1 element within the header */
h1 {
    margin-bottom: 0.25em;
}

/* Style the span element within the header */
header > span {
    font-size: medium;
    color: lightblue;
}

/* Style the main content section using CSS Grid */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 95%;
    margin: 20px auto;
    background-color: rgb(22, 24, 47);
  color: rgba(255, 255, 255, 0.964);
}

/* Style individual sections within the main content */
section {
    border-radius: 10px;
    background-color: rgb(95, 65, 65);
    border: solid 1px gray;
    overflow: hidden;
}

/* Apply 'Abril Fatface' font to all elements within sections */
section * {
    font-family: 'Montserrat', sans-serif;
}

/* Style the h3 elements within sections */
h3 {
    margin: 0;
    padding: 10px;
    background-color: rgb(22, 24, 47);
    color: rgba(255, 255, 255, 0.964);
    color: black;
}

/* Style the content div within sections */
section > div {
    padding: 0 10px;
}

/* Style spans within the content div */
section > div > span {
    display: block;
}

/* Style all elements within the content div */
section > div > * {
    font-size: 1.05em;
}

/* Style images within sections */
section img {
    width: calc(100% - 2px);
    display: block;
    margin: 0 auto;
    border: solid 1px black;
    max-width: 320px;
}

/* Style the footer section */
footer {
    text-align: center;
    background-color: rgb(22, 24, 47);
    color: rgba(255, 255, 255, 0.964);
    border-radius: 10px 10px 0 0;
    padding: 1em;
}

/* Style the #time element within the footer */
#time {
    padding-top: 5px;
    display: block;
    font-size: small;
    color: orange;
}


