/* Add the @import rule at the top of the stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: #8B836E;
   
    
}
/*HEADER*/

header {
    background-color:#99E0CB;
    color: hwb(0 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

header img {border-radius: 10px;}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 15px;
    display: block;
    margin: 0 auto;
}
header button {
    background-color: #99E0CB;
    color: hsl(0, 0%, 100%);
    padding: 0.5rem;
    border-radius: 25%;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 255, .2);
    width: 3rem;
    height: 3rem;
}

header button:hover {
    box-shadow: none;
    cursor: pointer;
}



#menu::before {
	content: "☰";
}

nav {display: none}

nav ol{
    flex-direction: column;
    text-align: center;    
    background-color: #333333;
}


nav li { 
    list-style: none;
    padding: 0.2rem;
    
}

nav  li a {    
    text-decoration: none;
    color: #fff;
    padding: 0.2rem;
}

nav li:hover {
    background-color: #99E0CB;
    color: hwb(0 97% 3%);
    text-decoration: underline;
}


/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */


.open {display: block;}


#menu.open {
    width: 3rem;
    
}
#menu.open::before {
	content: "✖";
    font-size: 1.5rem;
}
/*MAIN*/
main {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 1rem;
}
main h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.4rem;
    text-decoration: underline;
}

li {
    padding-left: 1rem;
    padding-top: 1rem;
}

.card01, .card02 {
    border: 1px solid black;
    padding-bottom: 0.3rem
}


.card h3{
    background-color: #99E0CB;
    text-align: center;
    padding: 0.1rem;
}

main .card ul li{list-style-type: none;}

main .card ul li a {
    padding: 10px;
}
h2 .location{
    text-align: center;
}
/*FOOTER*/
footer {
    background-color: #99E0CB;
    color: hsl(0, 0%, 0%);
    width: 100%;
    padding: 1rem;
   
    text-align: center;
}

#year,#lastModified {
    background-color: rgb(22, 24, 47);
}


iframe{ 
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid black;
}
 

#hero {
    position: relative;
}

