@media only screen and (min-width: 40rem){
.date{
    display: block;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    margin: 1.5rem;
}
main #event{
    grid-column: 1/2;
    grid-row: 5;
}
main #weather{
    grid-column: 2/3;
    grid-row: 5;
}
main #join{
    grid-column: 1/3;
    grid-row: 4;
}
main #hero{
    grid-column: 1/3;
    grid-row: 1;
}
main #news{
    grid-column: 1/3;
    grid-row: 2;
}
main #spotlight{
    grid-column: 1/3;
    grid-row: 3;
}
main 
img{
    width: 100%;
    margin: 0;
    padding: 0;
}
footer{
    padding-bottom: 30px;
}
footer #upper{
    display: flex;
    justify-content: space-evenly;
}
footer #address{
    text-align: left;
}
footer #emnum{
    padding-top: 20px;
}
/*Join Page*/
.join{
    display: block;
}
#busdes{
    display: block;
}
form fieldset{
    margin: 2rem 0;
    padding: .5rem 2%;
}

/*Discover Page*/
.discovery img{
    padding-left: 10px;
}
}
